mat-drawer-container {
	display: flex;
	min-height: 90vh;
	border-right: 1px solid #CCC;
	flex-direction: column;
}
mat-drawer a {
	text-decoration: none;
	color: #585858;
	outline: none;
}
#page-loader {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.6);
    z-index: 9999;
}
.spinner {
	
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-image: url('loader.gif');
    background-repeat: no-repeat;
    background-position: center;
}