<div class="main-container">
<mat-toolbar color="primary" ><span (click)="randomName(start)"><i class="fa fa-list"></i></span>&nbsp;&nbsp; My Train</mat-toolbar>
<mat-drawer-container  class="example-container">
  <mat-drawer mode="over" #start [opened]="false">
    <mat-list>
      <mat-list-item><a href="#/" (click)="randomName(start)">Search Train</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a href="#/train-between-stations" (click)="randomName(start)"> Train Between Stations</a></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
     <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</div>